.popup__container_type_tooltip {
  width: 430px;
  padding: 60px 0;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
  .popup__container_type_tooltip {
    width: 380px;
  }
}

@media screen and (max-width: 424px) {
  .popup__container_type_tooltip {
    width: 282px;
    padding: 40px 0;
  }
}
